.loading {
  height: 100%;
  position: relative;

  &--splash {
    height: 100vh;
    width: 100vw;
    position: static;
  }

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;

    >svg {
      height: 100%;
      width: 100%;
    }
  }
}

.icon {
  -webkit-animation: dash 2s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  fill: transparent;
  stroke: #FFF;
  stroke-width: 1px;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

@-ms-keyframes dash {
  0% {
    stroke-dasharray: 1, 500;
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dasharray: 250, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 400, 500;
    stroke-dashoffset: -250px;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 500;
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dasharray: 250, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 400, 500;
    stroke-dashoffset: -250px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 500;
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dasharray: 250, 500;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 400, 500;
    stroke-dashoffset: -250px;
  }
}